# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Cliente
/ClienteChatSeguro/build/
/ClienteChatSeguro/dist/
/ClienteChatSeguro/log/
/ClienteChatSeguro/nbproject/
/ClienteChatSeguro/build.xml
/ClienteChatSeguro/manifest.mf

# Servidor
/ServidorChatSeguro/build/
/ServidorChatSeguro/dist/
/ServidorChatSeguro/log/
/ServidorChatSeguro/nbproject/
/ServidorChatSeguro/build.xml
/ServidorChatSeguro/manifest.mf

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
